<div class="thumb d-flex justify-content-sm-center">
    <img class="img-fluid" src="assets/img/trainer/t2.jpg" alt="" />
  </div>
  <div class="meta-text text-sm-center">
    <h4>{{teacherInput.firstName}} {{teacherInput.lastName}}</h4>
    <p class="designation">{{teacherInput.specialization}} teacher</p>
    <div class="mb-4">
      <p>
      {{teacherInput.email}}
      </p>
    </div>
    <div class="align-items-center justify-content-center d-flex">
      <a href="#"><i class="ti-facebook"></i></a>
      <a href="#"><i class="ti-twitter"></i></a>
      <a href="#"><i class="ti-linkedin"></i></a>
      
    </div>
  </div>
