<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Add a course</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="section_gap_top" style="text-align: center; margin-bottom: 5%; margin-left: 25%;">
    <div class="container">
        
        <div class="row">
            <div class="main_title"  style="text-align: center;">
                <h3 class="mb-3 text-blue">Please complete with course's details.. </h3>
            </div>
            <div class="col-lg-12 ">
               
                <form class="row " id="contactForm">
                    <div class="col-md-6 " style="text-align: center;">
                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="Course Title" />
                        </div>

                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="Level" />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Duration" />
                        </div>

                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Description"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" value="submit" class="btn primary-btn">
                                Submit
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
