
          
            <div class="single_course">
              <div class="course_head">
                <img class="img-fluid" src="assets/img/courses/c1.jpg" alt="" />
              </div>
              <div class="course_content">
                
                <span class="tag mb-4 d-inline-block"> {{courseInput.duration}}</span>
                <h4 class="mb-3">
                  <a href="course-details.html">{{courseInput.title}}</a>
                </h4>
                <p>
                    {{courseInput.description}}
                </p>
                <div
                  class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
                >
                  <div class="authr_meta">
                    <span class="d-inline-block ml-2"> {{courseInput.teacher}}</span>
                  </div>
                  
                </div>
              </div>
            </div>
         

    
